@font-face {
  font-family: "Decoy";
  src: url("./assets/fonts/Decoy-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
body {
  font-family: "Decoy", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
